.content {
  .page-body,
  .markdown-body .content-wrapper,
  .page-body-toc .content-wrapper {
    h1, .h1-container {
      @apply text-40 mb-20 scroll-mt-80;

      &.no-margin {
        @apply mb-0;
      }
    }
    h2, .h2-container {
      @apply text-30 my-16 scroll-mt-80;

      &.no-margin {
        @apply my-0;
      }
    }
    h3, .h3-container {
      @apply text-24 my-8 scroll-mt-72;

      &.no-margin {
        @apply my-0;
      }
    }
    h4, .h4-container {
      @apply text-18 my-8 scroll-mt-72;

      &.no-margin {
        @apply my-0;
      }
    }
    p {
      @apply text-16 my-4 scroll-mt-68;
    }
    hr {
      @apply opacity-25;
    }
    ul {
      @apply pl-16 my-16;
    }
    li {
      @apply my-4;

      &::before {
        @apply inline-block mr-12 w-8 h-px align-middle bg-white;
        content: "";
      }
    }
    pre[class*=language-] {
      @apply my-16;
    }
  }

  .page-body,
  .page-examples,
  .markdown-body .content-wrapper,
  .page-body-toc .content-wrapper {
    a:not(.custom-link,.code-link) {
      @apply relative font-medium text-primary bg-left-bottom bg-no-repeat transition-[background-size];
      background-size: 0% 1px;
      background-image: linear-gradient(theme('colors.primary.DEFAULT'), theme('colors.primary.DEFAULT'));

      &:hover {
        background-size: 100% 1px;
      }
    }

    a.code-link {
      @apply relative font-medium bg-no-repeat transition-[background-position,color];
      background-size: 200% 1px;
      background-position: 100% 100%;
      background-image: linear-gradient(90deg, transparent 50%, theme('colors.current') 50%);

      &:hover {
        @apply text-primary;
        background-position: 0% 100%;
      }
    }
  }

  .markdown-body, .page-body-toc {
    @apply grid grid-cols-8;

    .content-wrapper {
      @apply col-span-6 px-20 py-32;
    }

    .toc-wrapper {
      @apply col-span-2 col-start-7 sticky top-menu h-full-menu px-20 py-32 overflow-auto scrollbar;
    }
  }

  .page-body {
    @apply px-20 py-32;
  }

  .page-examples {
    @apply p-20;
  }
}